/* --------------- Header --------------- */
body{

    background-image: url(img/coffee-5417663_1280.png);
    background-size: 350px;
    margin: 0px;
    font-family: sans-serif; color:aliceblue
}

.menu{
    position:fixed;
    width: 100%;
    background-color: rgb(88, 49, 1);
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.fundo{
    position:fixed;
    width: 100%; 
    padding-bottom: 55px;
    background-color: black;
}

.menu img{
    width: 50px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: px;
    background-color: rgb(96, 56, 8);
}

.menu .menuLink{
    display: flex;
    align-items: center;
}

.menu .menuLink .LinkMenu{
    padding: 10px;
    text-decoration: none;
    color: aliceblue;
    margin-right: 5px;
    margin-left: 5px;
}

.LinkMenu:hover{
    background: rgba(0,0,0,0);
    background-color: rgb(111, 69, 24);
    box-shadow: inset 0 0 0 3px rgb(111, 69, 24);
    border-radius: 50px;
}

.menu .cadastro{
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.menu .cadastro .button1{
    margin: 5px;
    background-color: aliceblue;
    border-radius: 50px;
    border-color: black;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

.menu .cadastro .button2{
    margin: 5px;
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

